html, body {font-family:'Helvetica',
			sans-serif; 
			font-size: 16px; 
			padding: 0; 
			margin: 0; 
			height: 100%; 
			overflow: wrap; 
			text-align: center;
			margin: auto;
			color: #000; 
			background-color: #fff;
		} 

ul, li {
    margin: 0;
    padding: 0;
	}
