html, body {font-family:'Helvetica',
			sans-serif; 
			font-size: 14px; 
			padding: 0; 
			margin: 0; 
			height: 100%; 
			overflow: wrap; 
			text-align: center;
			margin: auto;
			color: #000; 
			background-color: #fff;
		} 

ul, li {
    margin: 0;
    padding: 0;
	}

.button {
    background-color: #FFF235;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: helvetica;
    border-radius: 10px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

